[submodule "utilities/utilities/combinetool/CMSSW_10_2_1/src/HiggsAnalysis/CombinedLimit"]
	path = utilities/utilities/combinetool/CMSSW_10_2_1/src/HiggsAnalysis/CombinedLimit
	url = https://github.com/cms-analysis/HiggsAnalysis-CombinedLimit.git
